$border-color: #CFD8DC3F;
$grey-background: #f3f3f3;
$color-el-primary: #409EFF;
$color-primary: #1E88E5;
$color-primary-focus: #1E88E5D8;
$color-primary-hover: #1E88E5A6;
$color-primary-plain: #1E88E50D;
$color-primary-plain-hover: #1E88E5BF;
$color-primary-plain-focus: #1E88E519;
$color-disabled: #37474F26;
$disabled-text: #37474F7F;
$red: #F44336;
$el-color-red: #f56c6c;