$border-color: rgba(222, 195, 255, 0.18);
$background-item: #ffffff;
$background:#EFF3FF;
$color-el-primary: #191651;
$color-primary: #9eafe0;
$color-primary-focus: #1E88E5D8;
$color-primary-hover: #1E88E5A6;
$color-primary-plain: #1E88E50D;
$color-primary-plain-hover: #1E88E5BF;
$color-primary-plain-focus: #1E88E519;
$color-disabled: #37474F26;
$disabled-text: #37474F7F;
$color-text: #EFF3FF;
$red: #F44336;
$el-color-red: #f56c6c;